{% extends 'core2/base.html' %}

{% block background %}{% load static %}{% static 'core2/img/2.bmp' %}{% endblock %}

{% block title %}Antescedentes Academicos{% endblock %}

{% block headers %}
<h1>EXPERIENCIA ACADÉMICA</h1>
<span class="subheading">Uanini, Federico Daniel | Ingeniero Civil</span>
{% endblock %}

{% block content %}


<div class="col-lg-7 col-md-8">
<br>
        <h3>ACTIVIDADES ACADÉMICAS</h3>
<br>
        <p>•	Marzo de 2012 – Diciembre de 2013: Alumno Becario de Investigación y Servicio del “Centro de Investigaciones, Desarrollo y Transferencia de Materiales y Calidad” (CINTEMAC), dependiente del departamento de Ingeniaría Civil, Universidad Tecnológica Nacional. Contacto: Ingeniera María Positierimpositieri@gmail.com ; Ingeniero Carlos Baronetto carlosbaronetto@gmail.com</p> 
        <p>•	Participación como expositor, obteniendo el tercer puesto como mejor "Ponencia Estudiantil", en el " VI Congreso Nacional de Estudiantes de Ingeniería Civil", con el trabajo de investigación: “Análisis Comparativo de Hormigón Liviano Estructural y Hormigón de Alto Desempeño”. Santa Fe (2013). </p>
        <p>•	Dictado de la conferencia virtual “Hormigón sustentable de alto desempeño / Concurso Concrebol 2013 – IBRACON: Hormigón Liviano”, a través del colegio de Ingenieros Civiles de Córdoba (2013).  </p>
        <p>•	Participación como expositor en la "12° Jornada de Estudiantes Investigadores", con el trabajo de investigación “Pórtico de hormigón liviano estructural armado exigido a cargas dinámicas”. Rosario (2012).</p>
        <p>•	Participación como concursante en la competencia internacional “APO” en el "53° Congresso Brasilero do Concreto". Florianópolis, Brasil (2011).</p>
        <p>•	 Participación como concursante en el concurso internacional de hormigón de alta resistencia, en el "55° Congresso Brasilero do Concreto". Gramado, Brasil</p>
        <p>•	Participación como concursante en el "4º Concurso Nacional de Alumnos" en el Congreso Internacional de la AATH. Bahía Blanca (2012).</p>
        <p>•	Participación como asistente en 15 congresos, conferencias, talleres y capacitaciones vinculadas a la ingeniería civil y la tecnología del hormigón </p>
    <br>    
        <h3>IDIOMAS </h3>
    <br>    
        <p>•	Inglés intermedio. Aprobado primer y segundo nivel de inglés en la “Facultad de Lenguas” de la “Universidad Nacional de Córdoba” (2013).</p>
        <p>•	Alemán intermedio. Nivel B1 de Alemán según el examen “Online-Einstufungstest Deutsch als Fremdsprache” (2015).</p>
    <br>    
        <h3>MANEJOS DE HERRAMIENTAS INFORMÁTICAS</h3>
    <br>    
        <p>•	Manejo de códigos de programación Octave y Python</p>
        <p>•	Manejo de Autocad.</p>
        <p>•	Manejo de SketchUp</p>
        <p>•	Manejo de programas de renderizado</p>
        <p>•	Manejo de Microsoft Office.  </p>
        <p>•	Manejo de Sap 2000</p>
</div>

<div class="col-lg-4 col-md-10 mx-auto">
        <img class="img-fluid avatar" src="{% static 'core2/img/2.2academico.png' %}" alt="">
</div>


{% endblock %}

